@using NovelHelper_V2.Models


@{
    ViewBag.Title = "My Novels";
}

<body>
    <div id="novelView" class="col-md-2"></div>
    <div id="subView" class="col-md-12"></div>
</body>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/global.js"></script>
<script>
    $(function() {
        $('#novelView').load('@Url.Action("Index", "Novel")');
    });
    function getSettings(e) {
        var link = '@Url.Action("Index", "Setting", new { id = -1 } )';
        link = link.replace(-1, e);
        $('#subView').load(link);
    }
    function getCharacters(e) {
        var link = '@Url.Action("Index", "Character", new { id = -1 } )';
        link = link.replace(-1, e);
        $('#subView').load(link);
    }
    function getNovelDetails(e) {
        var link = '@Url.Action("Details", "Novel", new { id = -1 } )';
        link = link.replace(-1, e);
        $('#subView').load(link);
    }
</script>